reports/html1-report.html
.pytest_cache/
bin
include/
lib
src/__pycache__
tests/__pycache__/*
tests/data/__pycache__/*
config/__pycache__/settings.cpython-314.pyc
reports/html1-report.html
tests/contract/__pycache__/test_people_contract.cpython-314-pytest-9.0.1.pyc
tests/test-contract/__pycache__/test_people_contract.cpython-314-pytest-9.0.1.pyc
tests/test-negative/__pycache__/test_negative.cpython-314-pytest-9.0.1.pyc
tests/test-pagination/__pycache__/test_people_pagination.cpython-314-pytest-9.0.1.pyc
tests/test-smoke/__pycache__/test_smoke.cpython-314-pytest-9.0.1.pyc
src/helpers/__pycache__/pagination.cpython-314.pyc
src/schemas/__pycache__/page_schema.cpython-314.pyc
src/schemas/__pycache__/people_schema.cpython-314.pyc
