api-batch-test/reports/html1-report.html
.pytest_cache/
bin
include/
lib
src/__pycache__
api-batch-test/src/__pycache__/*
api-batch-test/tests/__pycache__/*
api-batch-test/tests/data/__pycache__/*
api-batch-test/config/__pycache__/settings.cpython-314.pyc
reports/html1-report.html
api-batch-test/tests/contract/__pycache__/test_people_contract.cpython-314-pytest-9.0.1.pyc
api-batch-test/tests/test-contract/__pycache__/test_people_contract.cpython-314-pytest-9.0.1.pyc
api-batch-test/tests/test-negative/__pycache__/test_negative.cpython-314-pytest-9.0.1.pyc
api-batch-test/tests/test-pagination/__pycache__/test_people_pagination.cpython-314-pytest-9.0.1.pyc
api-batch-test/tests/test-smoke/__pycache__/test_smoke.cpython-314-pytest-9.0.1.pyc
api-batch-test/src/helpers/__pycache__/pagination.cpython-314.pyc
api-batch-test/src/schemas/__pycache__/page_schema.cpython-314.pyc
api-batch-test/src/schemas/__pycache__/people_schema.cpython-314.pyc
