interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://swapi.info/api/people/99999/
  response:
    body:
      string: /api/people/99999
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      cache-status:
      - '"Netlify Durable"; fwd=bypass'
      - '"Netlify Edge"; fwd=miss'
      location:
      - /api/people/99999
      netlify-vary:
      - header=x-nextjs-data|x-next-debug-logging|next-router-prefetch|next-router-segment-prefetch|next-router-state-tree|next-url|rsc,cookie=__prerender_bypass|__next_preview_data,query
      refresh:
      - 0;url=/api/people/99999
      x-nf-request-id:
      - 01KCSDC3ES3WBST004JNKHPVC6
    status:
      code: 308
      message: Permanent Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://swapi.info/api/people/99999
  response:
    body:
      string: "<!DOCTYPE html><!--1pPYfUC6WJNDmwROsNGtC--><html lang=\"en\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" as=\"image\" href=\"/icons/sprite.svg\"/><link rel=\"stylesheet\"
        href=\"/_next/static/chunks/fafbdc4bfecd4299.css\" data-precedence=\"next\"/><link
        rel=\"preload\" as=\"script\" fetchPriority=\"low\" href=\"/_next/static/chunks/e491d436f4519dd0.js\"/><script
        src=\"/_next/static/chunks/fac5ae1e3fcd988d.js\" async=\"\"></script><script
        src=\"/_next/static/chunks/853963c748fe290d.js\" async=\"\"></script><script
        src=\"/_next/static/chunks/c645af7d6b65f73e.js\" async=\"\"></script><script
        src=\"/_next/static/chunks/turbopack-4c915f5d84553490.js\" async=\"\"></script><script
        src=\"/_next/static/chunks/ec0d7504612eefb4.js\" async=\"\"></script><script
        src=\"/_next/static/chunks/d48380b47555771d.js\" async=\"\"></script><script
        src=\"/_next/static/chunks/b25063d3bc4a9003.js\" async=\"\"></script><script
        src=\"/_next/static/chunks/ff1a16fafef87110.js\" async=\"\"></script><script
        src=\"/_next/static/chunks/926350dec3317ae7.js\" async=\"\"></script><title>404:
        This page could not be found.</title><meta name=\"robots\" content=\"noindex\"/><meta
        name=\"next-size-adjust\" content=\"\"/><title>SWAPI Reborn - Star Wars APIs
        &amp; Explorer</title><meta name=\"description\" content=\"The Star Wars API,
        or &quot;swapi&quot; (Swah-pee)!. All the Star Wars data you&#x27;ve ever
        wanted. A simpler alternative to swapi.dev.\"/><meta name=\"keywords\" content=\"star
        wars,star wars api,star wars api explorer,swap[...]
