interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://swapi.info/api/people/
  response:
    body:
      string: "[\n\t{\n\t\t\"name\": \"Luke Skywalker\",\n\t\t\"height\": \"172\",\n\t\t\"mass\":
        \"77\",\n\t\t\"hair_color\": \"blond\",\n\t\t\"skin_color\": \"fair\",\n\t\t\"eye_color\":
        \"blue\",\n\t\t\"birth_year\": \"19BBY\",\n\t\t\"gender\": \"male\",\n\t\t\"homeworld\":
        \"https://swapi.info/api/planets/1\",\n\t\t\"films\": [\n\t\t\t\"https://swapi.info/api/films/1\",\n\t\t\t\"https://swapi.info/api/films/2\",\n\t\t\t\"https://swapi.info/api/films/3\",\n\t\t\t\"https://swapi.info/api/films/6\"\n\t\t],\n\t\t\"species\":
        [],\n\t\t\"vehicles\": [\n\t\t\t\"https://swapi.info/api/vehicles/14\",\n\t\t\t\"https://swapi.info/api/vehicles/30\"\n\t\t],\n\t\t\"starships\":
        [\n\t\t\t\"https://swapi.info/api/starships/12\",\n\t\t\t\"https://swapi.info/api/starships/22\"\n\t\t],\n\t\t\"created\":
        \"2014-12-09T13:50:51.644000Z\",\n\t\t\"edited\": \"2014-12-20T21:17:56.891000Z\",\n\t\t\"url\":
        \"https://swapi.info/api/people/1\"\n\t},\n\t{\n\t\t\"name\": \"C-3PO\",\n\t\t\"height\":
        \"167\",\n\t\t\"mass\": \"75\",\n\t\t\"hair_color\": \"n/a\",\n\t\t\"skin_color\":
        \"gold\",\n\t\t\"eye_color\": \"yellow\",\n\t\t\"birth_year\": \"112BBY\",\n\t\t\"gender\":
        \"n/a\",\n\t\t\"homeworld\": \"https://swapi.info/api/planets/1\",\n\t\t\"films\":
        [\n\t\t\t\"https://swapi.info/api/films/1\",\n\t\t\t\"https://swapi.info/api/films/2\",\n\t\t\t\"https://swapi.[...]
